<% include ./templates/header %>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                     <p>
                        <strong>id</strong>: <%= results.usr._id %><br>
                        <strong>first name</strong>: <%= results.usr.f_name %><br>
                        <strong>middle_init</strong>: <%= results.usr.m_init %><br>
                        <strong>last name</strong>: <%= results.usr.l_name %>
                        <% for(var i = 0; i < results.usr.job_interests.length; i++){%>
                            <p><%= results.usr.job_interests[i] %></p>
                        <%}%>
                    </p>

            </div>
        </div>

    </div>

</div>
<% include ./templates/footer %>
