<% include ../templates/header %>

<div class="container">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-sm-4">
                <img class="picture" src= "<%= results.logo %>">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <h2 style="display: inline-block"><%= results.jb_position %></h2>
                    <h4 style="display: inline-block"><em> - <%= results.company.company_name %></em></h4>
                    <h4><em><%= results.catergory %></em></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Description</h1>
                    <h4><%= results.jb_desc %></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Required Skills</h1>
                    <% for(var i = 0; i < results.req_skills.length; i++){ %>
                        <li><p><%= results.req_skills[i] %></p></li>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Contact Information</h1>
                <h4>Email: <%= results.jb_contact %></h4>
                <h4>Website: <%= results.url %></h4>
            </div>
        </div>
    </div>
</body>
</html>
